@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}

body{
  overflow-x: hidden;
}

:root {
  --text-color: #333;
  --text-color-s: #bb48ab;
  --text-color-p: #5a34af;
  --text-color-f: #40b371;
  --text-color-c: #71cbff;
  --text-color-l: #ffda36;
}
/*fot Home*/
.home__header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Home - head*/
.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  margin-top: 2rem;
  text-align: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  padding: 10%;

}

.header .header__menu ul {
  display: flex;
}

.header .header__menu ul li {
  list-style: none;
  margin-right: 50px;
}

.header .header__menu ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.header .header__menu ul li a:hover {
  color: var(--text-color-s);
}

/*Home - container*/
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 20px;
}

.container .container__middle {
  width: 50%;
  position: absolute;
  left: 2rem;
}

.container .container__middle h1 {
  color: var(--text-color-s);
  font-size: 4rem;
  font-weight: 800;
}

.container .container__middle p {
  color: var(--text-color);
  font-size: 1.5rem;
}
.container .container__middle h1 p .phones__advertising {
  margin-left: 3rem;
}

.container .container__img {
  width: 40%;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: 100px;
  transition: 5s all ease-in;
}

.phones__advertising {
  position: absolute;
  bottom: 25px;
  display: flex;
  width: 50%;
  height: 9rem;
}

.phones__advertising-img {
  width: 25%;
  padding-left: 5px;
  margin-left: 5px;
}

.phones__advertising .phones__advertising-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.phones__advertising .phones__advertising-img img:hover{
  width: 110%;
  height: 110%;
}
/*section of description from proyect*/
.proyect {
  position: relative;
  width: 100%;
  height: 100vh;
}

.proyect h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px;
}

.proyect h2,
h3 {
  display: inline-block;
  font-size: 44px;
  color: var(--text-color-p);
}

.proyect h3 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 110px;
  line-height: 50px;
}

.proyect__descript {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.proyect__descript img {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  margin: 125px;
  margin-right: 5px;
}

.proyect__descript p {
  width: 45%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 125px;
}

.proyect__descript-img {
  background-image: url("https://tienda.movistar.com.mx/media/catalog/product/cache/087d8656b93b378449aad7de37c3d04e/g/a/galaxy_s22_blanco_front.png");
  position: relative;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  transform: rotate(90deg);
  margin-top: 130px;
}
.proyect-video {
  transform: rotate(-90deg);
  width: 400px;
  height: 202px;
  margin: 168px 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/*Camara improvement section*/
.major-camera {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/caracteristicas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.major-camera h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 44px;
  padding: 50px 100px;
  color: var(--text-color-f);
}

.major-camera h3 {
  position: absolute;
  bottom: 15px;
  right: 250px;
  width: 80px;
  color: var(--text-color-f);
}

.major-fe p {
  font-weight: 500;
  margin-left: 3rem;
}
.major-fe:nth-child(1) > p {
  position: absolute;
  top: 150px;
}

.major-fe:nth-child(2) > p {
  position: absolute;
  top: 250px;
  line-height: 30px;
}
.major-fe:nth-child(3) > p {
  position: absolute;
  top: 350px;
  line-height: 30px;
}

/*Features*/
.features {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://pic.clubic.com/v1/images/1874161/raw");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-color-c);
  padding: 110px;
  font-size: 44px;
}
.features-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.feature-card {
  width: 20%;
  box-shadow: 5px 5px 1px 0 #333;
  height: 300px;
  margin: 15px;
  background-color: #423b3999;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  text-align: center;
}

.feature-card img {
  margin-top: 25px;
  width: 120px;
  height: 120px;
}

.feature-card p {
  color: #fff;
  text-align: center;
  padding: 25px;
  font-weight: 500;
}

/*Publisher*/
.photo__advert {
  width: 100%;
  height: 200vh;
  position: relative;
  background: #333;
}

.photo__advert h3{
  z-index: 1;
  color: #eee;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.5s all ease-in-out;
  position: absolute;
}

.photo__advert h3:nth-child(1){
  text-align: center;
  margin: 250px;
}

.photo__advert h3:nth-child(3){
 bottom: 500px;
 left: 12px;
}

.photo__advert h3:nth-child(5){
  bottom: 50px;
  right: 200px
 }



img[src="https://www.sammobile.com/wp-content/uploads/2022/03/Galaxy-S22-Plus-8.jpg"]
{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
img[src="./img/ft2.jpg"],
img[src="./img/ft3.jpg"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
img[src="./img/ft2.jpg"] {
  width: 45%;
  height: 35%;
  right: 0;
  margin: 150px 45px;
}

img[src="https://s1.eestatic.com/2022/02/09/elandroidelibre/moviles-android/648945589_221727472_1024x576.jpg"]
{
  width: 50%;
  height: 30%;
  bottom: 25px;
  margin-top: 900px;
}

/*Supermarket chain*/
.publisher {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.publisher h2{
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--text-color-l);
}
.publisher__button{
  width: 30%;
  height: 15%;
  cursor: pointer;
}

.publisher__button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 0 #333;
  transition: 0.5s;
}

.publisher__button img:hover{
  width: 105%;
  height: 105%;
}

/*Form from Samsung*/
.form{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
.form h2{
  width: 100vw;
  text-align: center;
  color: #eee;
  font-weight: 500;
}

.form__info, .form__form{
  width: 50%;
  height: 80%;

}

.form__info{
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  margin-top: 25px;
}

.form__form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 25px;
  
}

.form .form__info a i{
  font-size: 50px;
  color: #eee;
  margin-left: 15px;
}

.form .form__info p:last-child{
  margin-top: 80px;
}
.form .form__form form{
  height: 100%;
  width: 100%;
}

.form .form__form input, textarea{
  width: 100%;
  height: 15%;
  margin-top: 25px;
  padding: 5px;
}

.form .form__form textarea{
  width: 100%;
  height: 30%;
  resize: none;
}

.form .form__form input[type='submit']{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #eee;
  font-weight: 500;
}

.form .form__form input[type='submit']:hover{
  color: #000;
  background-color: #eee;
  
}

